@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Used For Chrome, Opera and Safari */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Used For Firefox: */
  .no-scrollbar {
    scrollbar-width: none;
  }
  /* Used For MS Edge and IE: */
  .no-scrollbar {
    -ms-overflow-style: none;
  }
}
